//Colors


//Media Query
$xxs: 479px;
$xs : 767px;
$sm: 992px;
$md: 1200px;
$lg: 1600px;

//Font Family
$headerFont: 'Arial', sans-serif;
$textFont: 'Roboto', sans-serif;
$serifFont: 'EB Garamond', serif;